#content {
  width: 700px;
  margin: auto; }
  #content table {
    width: 700px; }
    #content table input {
      width: 100px; }

div.bill {
  position: relative;
  height: 35px; }

span.description {
  position: absolute;
  left: 5px;
  top: 5px; }

span.payable_to {
  position: absolute;
  left: 5px;
  top: 20px; }

span.amount {
  position: absolute;
  right: 5px;
  top: 20px; }

span.due_date {
  position: absolute;
  right: 5px;
  top: 5px; }

span.edit_link {
  position: absolute;
  right: -25px;
  top: 5px; }

span.destroy_link {
  display: none;
  position: absolute;
  right: 5px;
  top: 5px; }
