- if @before_id.nil?
  $('#bills').append($("#{escape_javascript( render :partial => 'bill', :locals => {:bill => @bill})} ").hide().slideDown());
- else
  $("#{escape_javascript( render :partial => 'bill', :locals => {:bill => @bill})} ").hide().insertBefore("##{@before_id}").slideDown();

$("#form").html("#{escape_javascript(render :partial => 'form', :locals => {:bill => Bill.new})}")

