%h1 Bills
#errors
#notice
#bills
  %table
    %tr
      %td Description
      %td Payable To
      %td Due Date
      %td Amount
      %td
    %tr
      = render :partial => 'form', :locals => { :bill => @bill }
    - @bills.each do |bill|
      = render :partial => 'bill', :locals => { :bill => bill }
