%h1 Bills
#errors{:style => "display:none"}
#notice{:style => "display:none"}

#form
  = render :partial => 'form', :locals => { :bill => @bill }

#bills
  - @bills.each do |bill|
    = render :partial => 'bill', :locals => { :bill => bill } unless bill.new_record?
  #total
    #sum= number_to_currency(@bills.sum(:amount)||0)
